
/**
* APP MAIN STRUCTURE
*/

body {
    min-height: 50em;
}

header, main {
    width: 62.5em;
    margin: 1.25em auto;
}

.site_title {
    height: 4.375em;
    text-align: center;
}

section {
    margin-top: 0.625em;
}

section h2 {
    line-height: 10%;
    border-bottom: 0.125em solid #000;
}

section h2 span {
    background-color: #fff;
    padding: 0 0.625em 0 0;
}

.section_heading {
    position: relative;
    width: 100%;
    display: table;
}

/**
* END OF APP MAIN STRUCTURE
*/



/**
* ROTATING TRIANGLE
*/

.fa.fa-caret-down {
    position: absolute;
    top: -1px;
    right: 0;
    transition-duration: 1s;
    outline: 0;
}

.rotate {
    transition: all 2s linear;
}

.rotate.left{
    transform-origin: 75% 47%;
    transform: rotate(90deg);
}

span .fa.fa-caret-down {
    background-color: #fff;
    padding: 0 0 0 0.15em;
    cursor:pointer;
}

/**
* END OF ROTATING TRIANGLE
*/


/**
* SECTION CONTENT
*/

.section_content {
    position: relative;
    width: 100%;
    height: 12.5em;
    display: table;
    background-color: yellow;
}

.section_content.closed {
    height: 0;
    transition: height 0.7s linear;
}

.section_content.open {
    height: 12.5em;
    transition: height 0.8s linear;
}

.content_wrapper {
    width: 50em;
    margin: 2.5em auto;
}

span.tip {
    display: none;
}

span.neverShowAgain {
    display: none;
}

span.tip input {
    border: none;
    outline: none;
}

/**
* END OF SECTION CONTENT
*/



/**
* SEARCH BOX
*/

#search_box_wrapper {
    position: relative;
}

#search_box_wrapper:before {
    font-family: 'FontAwesome';
    font-size: 1.563em;
    position: absolute;
    top: 0.325em;
    left: 0.425em;
    content: "\f002";
}

#search_box_wrapper input[type=text] {
    width: 18.75em;
    border: 0.063em solid black;
    outline: none;
    border-radius: 0.313em;
    padding: 0.75em 1.25em 0.75em 2.5em;
}

/**
* END OF SEARCH BOX
*/



.taskButton {
    padding: 0.5em 0.75em;
    border-radius: 0.313em;
    border: none;
    margin: 0.32em 0.32em 0 0;
}

.matchingTasks {
    margin: 0 0 1.875em 0;
}